@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  background-color: #f3f9fe;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

header {
  background-color: black;
  color: #fff;
  padding: 0.8rem 8.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .menu-toggle {
  display: none;
}

header .head_l {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .head_l .head_l-logo {
  width: 0%;
  margin-right: 30%;
}

header .head_l .head_l-logo a {
  text-decoration: none;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .head_l .head_l-logo .head_l-logo a img {
  height: 30px;
  vertical-align: middle;
}

header .head_l .head_l-logo .head_l-logo a h2 {
  margin: 0;
  padding: 0;
  font-size: 1.45em;
  display: inline-block;
  vertical-align: middle;
  font-weight: 700;
  color: #fff;
  margin-left: 5px;
}

header .head_l .menu {
  width: 80%;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  float: left;
  padding: 0;
  margin-left: 40px;
}

header .head_l .menu li {
  position: relative;
}

header .head_l .menu li a {
  color: #adb5bd;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  text-decoration: none;
  display: block;
}

header .head_l .menu li a:hover {
  color: white;
}

header .head_l .menu li ul.genre,
header .head_l .menu li ul.country {
  opacity: 0;
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 450px;
  list-style: none;
  position: absolute;
  top: 35px;
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
  background: #fff;
  border-radius: 0.3rem;
  margin: 0;
  padding: 10px 15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  z-index: 11;
}

header .head_l .menu li ul.genre::before,
header .head_l .menu li ul.country::before {
  position: absolute;
  display: block;
  content: "";
  top: -18px;
  left: 0;
  width: 100%;
  height: 18px;
}

header .head_l .menu li ul.genre li,
header .head_l .menu li ul.country li {
  width: 33%;
  color: black;
}

header .head_l .menu li ul.genre li:hover,
header .head_l .menu li ul.country li:hover {
  background-color: #17a2b8;
}

header .head_l .menu li ul.genre li a,
header .head_l .menu li ul.country li a {
  font-size: 0.9em;
  display: block;
  padding: 5px 10px;
  color: black;
}

header .head_l .menu li ul.genre li a:hover,
header .head_l .menu li ul.country li a:hover {
  color: #fff;
}

header .head_l .menu li:hover ul {
  opacity: 1;
  visibility: visible;
}

header .head_r {
  float: right;
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-item-align: center;
      align-self: center;
}

header .head_r .head_r-search {
  width: 70%;
}

header .head_r .head_r-search form {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}

header .head_r .head_r-search form input {
  width: 100%;
  height: 100%;
  border-radius: 0.3rem;
  padding: 0.6rem;
  padding-left: 45px;
  padding-right: 20px;
  border: none;
  outline: 0;
  background-color: #fff;
  background-position: -1px 0;
  color: black;
  font-weight: 300;
}

header .head_r .head_r-search form button {
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  border: none;
  outline: 0;
  width: 40px;
  height: 40px;
  background-color: transparent;
  text-align: center;
}

header .head_r .head_r-auth {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  cursor: pointer;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .head_r .head_r-auth .fa-user {
  display: none;
}

header .head_r .head_r-auth .img-auth {
  background-color: transparent;
  border-radius: 50%;
}

header .head_r .head_r-auth p {
  color: #b6b3a9;
  margin-left: 5px;
}

.search-mobile {
  display: none;
}

.container-body .site-container {
  padding: 0 29rem;
}

.container-body .site-container .index-base {
  text-align: center;
  margin-top: 90px;
}

.container-body .site-container .index-base .logo img {
  margin-bottom: 26px;
}

.container-body .site-container .index-base h3 {
  font-size: 1.75rem;
  color: #444;
  margin-bottom: 2rem;
}

.container-body .site-container .index-base .view-full-site {
  text-decoration: none;
  background-color: #17a2b8;
  color: #fff;
  text-align: center;
  padding: 0.75rem 1.5rem;
  font-size: 1.05rem;
  border-radius: 0.3rem;
}

.container-body .site-container .index-base .content {
  color: #444;
  margin-top: 5rem;
  text-align: left;
}

.container-body .site-container .index-base .content h5 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 0.6;
  font-weight: bold;
}

.container-body .site-container .index-base .content p {
  margin-top: 0;
  margin-bottom: 1rem;
  display: block;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
}

.container-body .bl {
  display: block;
  padding: 0.8rem 8.5rem;
}

.container-body .bl .heading {
  padding-bottom: 10px;
}

.container-body .bl .heading h2 {
  font-weight: 100;
  font-size: 1.8em;
  display: inline-block;
  margin-bottom: 0;
  opacity: 0.8;
  position: relative;
  color: #17a2b8;
  font-weight: 300;
}

.container-body .bl .heading h2::before {
  position: absolute;
  content: "";
  height: 1px;
  width: 80%;
  top: 120%;
  left: 0;
  background: #adb5bd;
}

.container-body .bl .simple .more i {
  margin-left: 20px;
}

.container-body .bl .content {
  margin-top: 2rem;
}

.container-body .bl.heading {
  padding: 0;
}

.container-body .home-container .heading-search,
.container-body .container-movies .heading-search,
.container-body .container-tvshows .heading-search,
.container-body .container-topimdb .heading-search {
  padding-left: 8.5rem;
  padding-right: 8.5rem;
  padding-top: 3rem;
  width: 100%;
  background-color: black;
}

.container-body .home-container .heading-search .heading,
.container-body .container-movies .heading-search .heading,
.container-body .container-tvshows .heading-search .heading,
.container-body .container-topimdb .heading-search .heading {
  background-color: black;
  padding: 0;
  text-align: center;
  color: #fff;
  font-size: 2.3em;
  font-weight: 300;
}

.container-body .home-container .heading-search #search,
.container-body .container-movies .heading-search #search,
.container-body .container-tvshows .heading-search #search,
.container-body .container-topimdb .heading-search #search {
  position: relative;
  max-width: 980px;
  margin: 0 auto;
  bottom: -35px;
}

.container-body .home-container .heading-search #search .icon,
.container-body .container-movies .heading-search #search .icon,
.container-body .container-tvshows .heading-search #search .icon,
.container-body .container-topimdb .heading-search #search .icon {
  position: absolute;
  left: 0;
  vertical-align: middle;
  line-height: 70px;
  width: 70px;
  text-align: center;
  font-size: 1.5em;
  z-index: 3;
}

.container-body .home-container .heading-search #search .submit,
.container-body .container-movies .heading-search #search .submit,
.container-body .container-tvshows .heading-search #search .submit,
.container-body .container-topimdb .heading-search #search .submit {
  width: 70px;
  float: right;
}

.container-body .home-container .heading-search #search .submit button,
.container-body .container-movies .heading-search #search .submit button,
.container-body .container-tvshows .heading-search #search .submit button,
.container-body .container-topimdb .heading-search #search .submit button {
  position: absolute;
  margin-left: 5rem;
  border: none;
  width: 70px;
  height: 70px;
  text-align: center;
  border-radius: 10px;
  background: #17a2b8;
  vertical-align: middle;
  font-size: 1.5em;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  color: #fff;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.container-body .home-container .heading-search #search .submit button:hover,
.container-body .container-movies .heading-search #search .submit button:hover,
.container-body .container-tvshows .heading-search #search .submit button:hover,
.container-body .container-topimdb .heading-search #search .submit button:hover {
  background-color: #2392a3;
}

.container-body .home-container .heading-search #search .input,
.container-body .container-movies .heading-search #search .input,
.container-body .container-tvshows .heading-search #search .input,
.container-body .container-topimdb .heading-search #search .input {
  display: block;
  position: relative;
}

.container-body .home-container .heading-search #search .input input,
.container-body .container-movies .heading-search #search .input input,
.container-body .container-tvshows .heading-search #search .input input,
.container-body .container-topimdb .heading-search #search .input input {
  outline: none;
  height: 70px;
  padding: 0 70px;
  padding-left: 70px;
  border-radius: 10px;
  border: none;
  vertical-align: middle;
  display: block;
  font-weight: 300;
  font-size: 1.6em;
  width: 100%;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.container-body .home-container .content-title,
.container-body .container-movies .content-title,
.container-body .container-tvshows .content-title,
.container-body .container-topimdb .content-title {
  margin-bottom: 0.5rem;
  margin-top: 2.8rem;
}

.container-body .home-container .content-title .text-center,
.container-body .container-movies .content-title .text-center,
.container-body .container-tvshows .content-title .text-center,
.container-body .container-topimdb .content-title .text-center {
  text-align: center !important;
}

.container-body .home-container .content-title .text-center h1,
.container-body .container-movies .content-title .text-center h1,
.container-body .container-tvshows .content-title .text-center h1,
.container-body .container-topimdb .content-title .text-center h1 {
  color: #17a2b8 !important;
  font-size: 1.2em;
  font-weight: 500;
}

.container-body .home-container .bl .heading h2,
.container-body .container-movies .bl .heading h2,
.container-body .container-tvshows .bl .heading h2,
.container-body .container-topimdb .bl .heading h2 {
  float: left;
  font-weight: 100;
  font-size: 1.8em;
  display: inline-block;
  margin-bottom: 0;
  opacity: 0.8;
  position: relative;
  color: #17a2b8;
  font-weight: 300;
}

.container-body .home-container .bl .heading .more,
.container-body .container-movies .bl .heading .more,
.container-body .container-tvshows .bl .heading .more,
.container-body .container-topimdb .bl .heading .more {
  float: right;
  margin-top: 0.2em;
  text-decoration: none;
  color: #17a2b8;
}

.container-body .home-container .bl .heading .more:hover,
.container-body .container-movies .bl .heading .more:hover,
.container-body .container-tvshows .bl .heading .more:hover,
.container-body .container-topimdb .bl .heading .more:hover {
  color: #2392a3;
}

.container-body .home-container .bl .tabs,
.container-body .container-movies .bl .tabs,
.container-body .container-tvshows .bl .tabs,
.container-body .container-topimdb .bl .tabs {
  margin-left: 15px;
  float: left;
  margin-top: 3px;
}

.container-body .home-container .bl .tabs span,
.container-body .container-movies .bl .tabs span,
.container-body .container-tvshows .bl .tabs span,
.container-body .container-topimdb .bl .tabs span {
  display: inline-block;
  line-height: 2.2em;
  margin: 0 2px;
  cursor: pointer;
  font-size: 0.9em;
  padding: 0 10px;
  border-radius: 3px;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  color: #495057;
  background: #dee2e6;
}

.container-body .home-container .bl .tabs span i,
.container-body .container-movies .bl .tabs span i,
.container-body .container-tvshows .bl .tabs span i,
.container-body .container-topimdb .bl .tabs span i {
  margin-right: 4px;
}

.container-body .home-container .bl .tabs .active,
.container-body .container-movies .bl .tabs .active,
.container-body .container-tvshows .bl .tabs .active,
.container-body .container-topimdb .bl .tabs .active {
  background: #17a2b8;
  color: #f8f9fa;
}

.container-body .home-container .bl .content,
.container-body .container-movies .bl .content,
.container-body .container-tvshows .bl .content,
.container-body .container-topimdb .bl .content {
  width: 100%;
  padding: 1rem 0;
}

.container-body .home-container .bl .content .filmlist,
.container-body .container-movies .bl .content .filmlist,
.container-body .container-tvshows .bl .content .filmlist,
.container-body .container-topimdb .bl .content .filmlist {
  margin: 0 -0.4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container-body .home-container .bl .content .filmlist .item,
.container-body .container-movies .bl .content .filmlist .item,
.container-body .container-tvshows .bl .content .filmlist .item,
.container-body .container-topimdb .bl .content .filmlist .item {
  float: left;
  display: block;
  width: 11.7%;
  margin: 0 0.4%;
  position: relative;
}

.container-body .home-container .bl .content .filmlist .item .icons,
.container-body .container-movies .bl .content .filmlist .item .icons,
.container-body .container-tvshows .bl .content .filmlist .item .icons,
.container-body .container-topimdb .bl .content .filmlist .item .icons {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
  font-size: 0.86em;
  font-weight: 500;
}

.container-body .home-container .bl .content .filmlist .item .icons .quality,
.container-body .container-movies .bl .content .filmlist .item .icons .quality,
.container-body .container-tvshows .bl .content .filmlist .item .icons .quality,
.container-body .container-topimdb .bl .content .filmlist .item .icons .quality {
  float: left;
  margin-left: 5px;
  height: 20px;
  line-height: 20px;
  padding: 0 5px;
  border-radius: 3px;
  text-transform: uppercase;
  background: #f8f9fa;
  color: #212529;
}

.container-body .home-container .bl .content .filmlist .item .poster,
.container-body .container-movies .bl .content .filmlist .item .poster,
.container-body .container-tvshows .bl .content .filmlist .item .poster,
.container-body .container-topimdb .bl .content .filmlist .item .poster {
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
  display: block;
  margin-bottom: 10px;
  position: relative;
  background: #dee2e6;
}

.container-body .home-container .bl .content .filmlist .item .poster:hover .play,
.container-body .container-movies .bl .content .filmlist .item .poster:hover .play,
.container-body .container-tvshows .bl .content .filmlist .item .poster:hover .play,
.container-body .container-topimdb .bl .content .filmlist .item .poster:hover .play {
  opacity: 1;
  visibility: visible;
  z-index: 2;
}

.container-body .home-container .bl .content .filmlist .item .poster:hover .overlay-poster,
.container-body .container-movies .bl .content .filmlist .item .poster:hover .overlay-poster,
.container-body .container-tvshows .bl .content .filmlist .item .poster:hover .overlay-poster,
.container-body .container-topimdb .bl .content .filmlist .item .poster:hover .overlay-poster {
  opacity: 1;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.container-body .home-container .bl .content .filmlist .item .poster .play,
.container-body .container-movies .bl .content .filmlist .item .poster .play,
.container-body .container-tvshows .bl .content .filmlist .item .poster .play,
.container-body .container-topimdb .bl .content .filmlist .item .poster .play {
  height: 60px;
  width: 60px;
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  line-height: 60px;
  text-align: center;
  font-weight: 900;
  cursor: pointer;
  border-radius: 50%;
  background: rgba(13, 170, 194, 0.9);
  color: #e9ecef;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all, ease-in-out 0.2s;
  transition: all, ease-in-out 0.2s;
}

.container-body .home-container .bl .content .filmlist .item .poster .play::before,
.container-body .container-movies .bl .content .filmlist .item .poster .play::before,
.container-body .container-tvshows .bl .content .filmlist .item .poster .play::before,
.container-body .container-topimdb .bl .content .filmlist .item .poster .play::before {
  content: "";
  position: absolute;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  font-family: "Font Awesome 5 Free";
  display: block;
  font-size: 1.5em;
  margin-left: 0.2em;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

.container-body .home-container .bl .content .filmlist .item .poster img,
.container-body .container-movies .bl .content .filmlist .item .poster img,
.container-body .container-tvshows .bl .content .filmlist .item .poster img,
.container-body .container-topimdb .bl .content .filmlist .item .poster img {
  width: 100%;
  border-radius: 4px;
}

.container-body .home-container .bl .content .filmlist .item .poster .overlay-poster,
.container-body .container-movies .bl .content .filmlist .item .poster .overlay-poster,
.container-body .container-tvshows .bl .content .filmlist .item .poster .overlay-poster,
.container-body .container-topimdb .bl .content .filmlist .item .poster .overlay-poster {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
}

.container-body .home-container .bl .content .filmlist .item .meta,
.container-body .container-movies .bl .content .filmlist .item .meta,
.container-body .container-tvshows .bl .content .filmlist .item .meta,
.container-body .container-topimdb .bl .content .filmlist .item .meta {
  font-size: 0.9em;
  height: 50px;
  display: block;
  overflow: hidden;
  color: #6c757d;
}

.container-body .home-container .bl .content .filmlist .item .meta .dot,
.container-body .container-movies .bl .content .filmlist .item .meta .dot,
.container-body .container-tvshows .bl .content .filmlist .item .meta .dot,
.container-body .container-topimdb .bl .content .filmlist .item .meta .dot {
  width: 3px;
  height: 3px;
  vertical-align: 2px;
  border-radius: 50%;
  display: inline-block;
  background: #5e5e5e;
  content: "";
  margin: 0 5px;
}

.container-body .home-container .bl .content .filmlist .item .meta .type,
.container-body .container-movies .bl .content .filmlist .item .meta .type,
.container-body .container-tvshows .bl .content .filmlist .item .meta .type,
.container-body .container-topimdb .bl .content .filmlist .item .meta .type {
  display: inline-block;
  float: right;
  font-style: normal;
  border: 1px solid #a1a8ae;
  border-radius: 3px;
  padding: 5px 3px 3px;
  line-height: 0.8em;
  font-size: 0.8em;
}

.container-body .home-container .bl .content .filmlist .item h3,
.container-body .container-movies .bl .content .filmlist .item h3,
.container-body .container-tvshows .bl .content .filmlist .item h3,
.container-body .container-topimdb .bl .content .filmlist .item h3 {
  font-size: 1em;
  font-weight: 500;
}

.container-body .home-container .bl .content .filmlist .item h3 .title,
.container-body .container-movies .bl .content .filmlist .item h3 .title,
.container-body .container-tvshows .bl .content .filmlist .item h3 .title,
.container-body .container-topimdb .bl .content .filmlist .item h3 .title {
  color: #343a40;
  font-size: 1em;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  text-decoration: none;
}

.container-body .nav {
  display: block;
  line-height: 45px;
  padding: 0 8.5rem;
}

.container-body .nav .breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  border-radius: 0.25rem;
}

.container-body .nav .breadcrumb .breadcrumb-item a {
  text-decoration: none;
  color: black;
}

.container-body .nav .breadcrumb .breadcrumb-item:nth-child(2)::before, .container-body .nav .breadcrumb .breadcrumb-item:nth-child(3)::before {
  display: inline-block;
  padding-right: 0.5rem;
  color: #6c757d;
  content: "/";
}

.container-body .watch {
  padding: 0 8.5rem;
  background-color: black;
  height: 900px;
}

.container-body .watch .play {
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  position: relative;
  overflow: hidden;
  height: 100%;
}

.container-body .watch .play .container #player {
  height: 60em;
  display: block;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 3;
}

.container-body .controls {
  padding: 0 8.5rem;
  margin-top: 15px;
  overflow: hidden;
}

.container-body .controls .items div {
  float: left;
  line-height: 25px;
  border-radius: 12.5px;
  font-size: 0.8em;
  padding: 0 15px;
  cursor: pointer;
  background: #dee2e6;
  color: #495057;
  border-radius: 3px;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  margin-right: 10px;
  margin-bottom: 8px;
}

.container-body .controls .items div:hover {
  background-color: #ccd1d6;
}

.container-body .episodes {
  padding: 0 8.5rem;
  margin: 30px 0 40px;
  font-size: 14px;
}

.container-body .episodes .season-list {
  display: block;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 0.8rem 0.2rem;
  width: 215px;
  cursor: pointer;
}

.container-body .episodes .season-list select.season-select {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
}

.container-body .episodes .episodes-list {
  overflow: hidden;
  width: 100%;
}

.container-body .episodes .episodes-list div {
  width: 19.5%;
  float: left;
  background-color: #dee2e6;
  padding: 0.8rem 0.5rem;
  margin-left: 8px;
  margin-bottom: 8px;
  border-radius: 5px;
}

.container-body .episodes .episodes-list div:hover .episode,
.container-body .episodes .episodes-list div:hover .episode-part {
  color: #17a2b8;
}

.container-body .episodes .episodes-list div:hover {
  background-color: #dcdee0;
}

.container-body .episodes .episodes-list div a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #212529;
}

.container-body .episodes .episodes-list div a span {
  color: #212529;
  font-weight: 500;
}

.container-body .episodes .episodes-list div a span.active {
  color: #fff;
}

.container-body .episodes .episodes-list div a p {
  margin-left: 5px;
}

.container-body .episodes .episodes-list div a p.active {
  color: #fff;
}

.container-body .episodes .episodes-list div.active {
  background-color: #17a2b8;
}

.container-body .episodes .episodes-list div.active:hover .episode,
.container-body .episodes .episodes-list div.active:hover .episode-part {
  color: #fff;
}

.container-body .watch-extra {
  padding: 0 8.5rem;
  margin-top: 15px;
  overflow: hidden;
}

.container-body .watch-extra .bl-1 {
  float: left;
  width: 65%;
}

.container-body .watch-extra .bl-2 {
  float: left;
  width: 33%;
  margin-left: 2%;
}

.container-body .watch-extra .bl-2 .bl-more .heading h2 {
  float: left;
  font-weight: 100;
  font-size: 1.8em;
  display: inline-block;
  margin-bottom: 0;
  opacity: 0.8;
  position: relative;
  color: #17a2b8;
  font-weight: 300;
}

.container-body .watch-extra .bl-2 .bl-more .heading h2::before {
  position: absolute;
  content: "";
  height: 1px;
  width: 80%;
  top: 120%;
  left: 0;
  background: #adb5bd;
}

.container-body .watch-extra .bl-2 .bl-more .content {
  overflow: hidden;
  width: 100%;
  padding: 1rem 0;
}

.container-body .watch-extra .bl-2 .bl-more .content .filmlist {
  margin: 0 -0.4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container-body .watch-extra .bl-2 .bl-more .content .filmlist .item {
  float: left;
  display: block;
  width: 31.333333333%;
  margin: 0 1%;
  position: relative;
}

.container-body .watch-extra .bl-2 .bl-more .content .filmlist .item .icons {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
  font-size: 0.86em;
  font-weight: 500;
}

.container-body .watch-extra .bl-2 .bl-more .content .filmlist .item .icons .quality {
  float: left;
  margin-left: 5px;
  height: 20px;
  line-height: 20px;
  padding: 0 5px;
  border-radius: 3px;
  text-transform: uppercase;
  background: #f8f9fa;
  color: #212529;
}

.container-body .watch-extra .bl-2 .bl-more .content .filmlist .item .poster {
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
  display: block;
  margin-bottom: 10px;
  position: relative;
  background: #dee2e6;
}

.container-body .watch-extra .bl-2 .bl-more .content .filmlist .item .poster:hover .play {
  opacity: 1;
  visibility: visible;
  z-index: 2;
}

.container-body .watch-extra .bl-2 .bl-more .content .filmlist .item .poster:hover .overlay-poster {
  opacity: 1;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.container-body .watch-extra .bl-2 .bl-more .content .filmlist .item .poster .play {
  height: 60px;
  width: 60px;
  position: absolute;
  -webkit-transform: translate(100%, 150%);
          transform: translate(100%, 150%);
  line-height: 60px;
  margin-top: 0px;
  margin-left: 5px;
  text-align: center;
  font-weight: 900;
  cursor: pointer;
  border-radius: 50%;
  background: rgba(13, 170, 194, 0.9);
  color: #e9ecef;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all, ease-in-out 0.2s;
  transition: all, ease-in-out 0.2s;
}

.container-body .watch-extra .bl-2 .bl-more .content .filmlist .item .poster .play::before {
  content: "";
  position: absolute;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  font-family: "Font Awesome 5 Free";
  display: block;
  font-size: 1.5em;
  margin-left: 0.2em;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

.container-body .watch-extra .bl-2 .bl-more .content .filmlist .item .poster img {
  width: 100%;
  border-radius: 4px;
}

.container-body .watch-extra .bl-2 .bl-more .content .filmlist .item .poster .overlay-poster {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
}

.container-body .watch-extra .bl-2 .bl-more .content .filmlist .item .meta {
  font-size: 0.9em;
  height: 50px;
  display: block;
  overflow: hidden;
  color: #6c757d;
}

.container-body .watch-extra .bl-2 .bl-more .content .filmlist .item .meta .dot {
  width: 3px;
  height: 3px;
  vertical-align: 2px;
  border-radius: 50%;
  display: inline-block;
  background: #5e5e5e;
  content: "";
  margin: 0 5px;
}

.container-body .watch-extra .bl-2 .bl-more .content .filmlist .item .meta .type {
  display: inline-block;
  float: right;
  font-style: normal;
  border: 1px solid #a1a8ae;
  border-radius: 3px;
  padding: 5px 3px 3px;
  line-height: 0.8em;
  font-size: 0.8em;
}

.container-body .watch-extra .bl-2 .bl-more .content .filmlist .item h3 {
  font-size: 1em;
  font-weight: 500;
}

.container-body .watch-extra .bl-2 .bl-more .content .filmlist .item h3 .title {
  color: #343a40;
  font-size: 1em;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  text-decoration: none;
}

.container-body .watch-extra section.info {
  clear: both;
  margin-bottom: 30px;
  overflow: hidden;
  border-radius: 0.3rem;
  padding: 25px;
  -webkit-box-shadow: 0 0 20px 10px #cccccc4d;
          box-shadow: 0 0 20px 10px #cccccc4d;
  background: #fff;
}

.container-body .watch-extra section.info .info {
  margin-left: 280px;
}

.container-body .watch-extra section.info .info a {
  color: #545b62;
  text-decoration: none;
}

.container-body .watch-extra section.info .info a:hover {
  color: #17a2b8;
}

.container-body .watch-extra section.info .poster {
  width: 250px;
  float: left;
}

.container-body .watch-extra section.info .poster span {
  position: relative;
  width: 100%;
  padding-bottom: 145%;
  display: block;
  border-radius: 10px;
  overflow: hidden;
  border: 3px solid #ffffff33;
}

.container-body .watch-extra section.info .poster span img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container-body .watch-extra section.info .rating {
  float: right;
  margin-top: 14px;
}

.container-body .watch-extra section.info .rating .stars {
  display: inline-block;
  font-size: 1.5em;
}

.container-body .watch-extra section.info .rating .text {
  color: #ced4da;
  font-size: 0.9em;
  display: block;
  text-align: center;
  font-style: italic;
}

.container-body .watch-extra section.info .rating .text:hover {
  color: #b8bec5;
}

.container-body .watch-extra section.info .title {
  color: #212529;
  font-weight: 300;
  font-size: 2.5rem;
}

.container-body .watch-extra section.info .meta {
  font-weight: 300;
  font-size: 15px;
}

.container-body .watch-extra section.info .meta .quality {
  background: #fff;
  border: 1px solid #212529;
  color: #212529;
  font-weight: 700;
  font-size: 0.85em;
  padding: 3px 5px;
  border-radius: 0.25rem;
  text-shadow: none;
}

.container-body .watch-extra section.info .meta .imdb {
  margin-left: 15px;
  font-weight: 500;
}

.container-body .watch-extra section.info .meta .time {
  margin-left: 15px;
  font-weight: 300;
}

.container-body .watch-extra section.info .meta div {
  margin-bottom: 6px;
}

.container-body .watch-extra section.info .meta div span:nth-child(1) {
  display: block;
  float: left;
  color: #495057;
  font-weight: 400;
}

.container-body .watch-extra section.info .meta div span:nth-child(2) {
  display: block;
  margin-left: 120px;
}

.container-body .watch-extra section.info div {
  margin-bottom: 15px;
}

.container-body .watch-extra section.info .desc {
  line-height: 1.6em;
  font-size: 1.05em;
  font-weight: 300;
}

.container-body .container-movies,
.container-body .container-tvshows,
.container-body .container-topimdb {
  margin-top: 3rem !important;
}

.container-body .container-movies .filters,
.container-body .container-tvshows .filters,
.container-body .container-topimdb .filters {
  display: inline-block;
  font-size: 0.9em;
  border-radius: 20px;
  position: relative;
  top: 12px;
  margin-top: 10px;
  padding-bottom: 15px;
  width: 100%;
}

.container-body .container-movies .filters .filter,
.container-body .container-tvshows .filters .filter,
.container-body .container-topimdb .filters .filter {
  float: left;
  margin-bottom: 10px;
  margin-right: 10px;
  position: relative;
}

.container-body .container-movies .filters .filter .dropdown-toggle:hover,
.container-body .container-tvshows .filters .filter .dropdown-toggle:hover,
.container-body .container-topimdb .filters .filter .dropdown-toggle:hover {
  background-color: #f5f0f0;
}

.container-body .container-movies .filters .filter .dropdown-toggle:focus ~ .dropdown-menu,
.container-body .container-tvshows .filters .filter .dropdown-toggle:focus ~ .dropdown-menu,
.container-body .container-topimdb .filters .filter .dropdown-toggle:focus ~ .dropdown-menu {
  display: block;
}

.container-body .container-movies .filters .filter button,
.container-body .container-tvshows .filters .filter button,
.container-body .container-topimdb .filters .filter button {
  cursor: pointer;
  background: #dee2e6;
  border: none;
  padding: 0 28px;
  height: 35px;
  border-radius: 5px;
  color: #343a40;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

.container-body .container-movies .filters .filter button span,
.container-body .container-tvshows .filters .filter button span,
.container-body .container-topimdb .filters .filter button span {
  font-weight: 100;
  color: #212529;
}

.container-body .container-movies .filters .filter .btn-primary,
.container-body .container-tvshows .filters .filter .btn-primary,
.container-body .container-topimdb .filters .filter .btn-primary {
  background: #17a2b8;
  color: #fff;
  cursor: pointer;
}

.container-body .container-movies .filters .filter .btn-primary:hover,
.container-body .container-tvshows .filters .filter .btn-primary:hover,
.container-body .container-topimdb .filters .filter .btn-primary:hover {
  background: #2392a3;
}

.container-body .container-movies .filters .filter .dropdown-menu.lg,
.container-body .container-tvshows .filters .filter .dropdown-menu.lg,
.container-body .container-topimdb .filters .filter .dropdown-menu.lg {
  width: 600px;
}

.container-body .container-movies .filters .filter .dropdown-menu.md,
.container-body .container-tvshows .filters .filter .dropdown-menu.md,
.container-body .container-topimdb .filters .filter .dropdown-menu.md {
  width: 400px;
}

.container-body .container-movies .filters .filter .dropdown-menu.md li,
.container-body .container-tvshows .filters .filter .dropdown-menu.md li,
.container-body .container-topimdb .filters .filter .dropdown-menu.md li {
  width: 33.33333%;
}

.container-body .container-movies .filters .filter .dropdown-menu.sort,
.container-body .container-tvshows .filters .filter .dropdown-menu.sort,
.container-body .container-topimdb .filters .filter .dropdown-menu.sort {
  width: 180px;
}

.container-body .container-movies .filters .filter .dropdown-menu.sort li,
.container-body .container-tvshows .filters .filter .dropdown-menu.sort li,
.container-body .container-topimdb .filters .filter .dropdown-menu.sort li {
  width: 100%;
}

.container-body .container-movies .filters .filter .dropdown-menu.c1 li,
.container-body .container-tvshows .filters .filter .dropdown-menu.c1 li,
.container-body .container-topimdb .filters .filter .dropdown-menu.c1 li {
  width: 100%;
}

.container-body .container-movies .filters .filter .dropdown-menu,
.container-body .container-tvshows .filters .filter .dropdown-menu,
.container-body .container-topimdb .filters .filter .dropdown-menu {
  list-style: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #444;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  margin-top: 5px;
  font-size: 1em;
  padding: 20px;
  border-radius: 10px;
}

.container-body .container-movies .filters .filter .dropdown-menu li,
.container-body .container-tvshows .filters .filter .dropdown-menu li,
.container-body .container-topimdb .filters .filter .dropdown-menu li {
  width: 25%;
  float: left;
  color: #343a40;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 30px;
}

.container-body .container-movies .filters .filter .dropdown-menu li:hover,
.container-body .container-tvshows .filters .filter .dropdown-menu li:hover,
.container-body .container-topimdb .filters .filter .dropdown-menu li:hover {
  background-color: #17a2b8;
  cursor: pointer;
}

.container-body .container-movies .filters .filter .dropdown-menu li input,
.container-body .container-tvshows .filters .filter .dropdown-menu li input,
.container-body .container-topimdb .filters .filter .dropdown-menu li input {
  position: inherit;
  cursor: pointer;
  float: left;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.container-body .container-movies .filters .filter .dropdown-menu li input[type="checkbox"],
.container-body .container-movies .filters .filter .dropdown-menu li input[type="radio"],
.container-body .container-tvshows .filters .filter .dropdown-menu li input[type="checkbox"],
.container-body .container-tvshows .filters .filter .dropdown-menu li input[type="radio"],
.container-body .container-topimdb .filters .filter .dropdown-menu li input[type="checkbox"],
.container-body .container-topimdb .filters .filter .dropdown-menu li input[type="radio"] {
  margin-left: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

.container-body .container-movies .filters .filter .dropdown-menu li label,
.container-body .container-tvshows .filters .filter .dropdown-menu li label,
.container-body .container-topimdb .filters .filter .dropdown-menu li label {
  margin-left: 6px;
  cursor: pointer;
  float: left;
  display: block;
}

.container-body .container-movies .pagenav,
.container-body .container-tvshows .pagenav,
.container-body .container-topimdb .pagenav {
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 15px;
}

.container-body .container-movies .pagenav ul,
.container-body .container-tvshows .pagenav ul,
.container-body .container-topimdb .pagenav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
  list-style: none;
  margin-top: 0;
  margin-bottom: 1rem;
}

.container-body .container-movies .pagenav ul li.active span,
.container-body .container-tvshows .pagenav ul li.active span,
.container-body .container-topimdb .pagenav ul li.active span {
  background: #17a2b8;
  color: #fff;
}

.container-body .container-movies .pagenav ul li,
.container-body .container-tvshows .pagenav ul li,
.container-body .container-topimdb .pagenav ul li {
  display: inline-block;
  margin: 0 2px 5px;
}

.container-body .container-movies .pagenav ul li:hover,
.container-body .container-tvshows .pagenav ul li:hover,
.container-body .container-topimdb .pagenav ul li:hover {
  border-radius: 50%;
  background-color: #ddd;
}

.container-body .container-movies .pagenav ul li a,
.container-body .container-movies .pagenav ul li span,
.container-body .container-tvshows .pagenav ul li a,
.container-body .container-tvshows .pagenav ul li span,
.container-body .container-topimdb .pagenav ul li a,
.container-body .container-topimdb .pagenav ul li span {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #212529;
  border-radius: 50%;
  text-decoration: none;
}

footer {
  margin-top: 3rem;
  font-size: 0.95em;
  color: #919ca6;
}

footer .foo-t {
  overflow: hidden;
  background: #111;
  padding: 0.8rem 8.5rem;
}

footer .foo-t .container .links {
  float: left;
  width: 50%;
  font: 0.95em;
}

footer .foo-t .container .links .bl {
  float: left;
  width: 33.33%;
}

footer .foo-t .container .links .bl .heading {
  color: #f8f9fa;
  display: inline-block;
  min-height: 1px;
  margin-bottom: 10px;
  font-size: 1.05em;
  font-weight: 400;
}

footer .foo-t .container .links .bl ul {
  list-style: none;
}

footer .foo-t .container .links .bl ul li a {
  text-decoration: none;
  color: #ced4da;
  line-height: 1.9em;
  cursor: pointer;
}

footer .foo-t .container .links .bl ul li a:hover {
  color: #fff;
}

footer .foo-t .container .about .heading {
  color: #f8f9fa;
  display: inline-block;
  min-height: 1px;
  margin-bottom: 10px;
  font-size: 1.05em;
  font-weight: 400;
}

footer .foo-t .container .about .desc p {
  margin-top: 0;
  margin-bottom: 1rem;
}

footer .foo-t .container .about .desc p a {
  text-decoration: none;
  color: #17a2b8;
}

footer .foo-t .container .about .desc .font-italic {
  font-style: italic !important;
}

footer .foo-t .container .about .desc .small {
  font-size: 80%;
  font-weight: 400;
}

footer .foo-b {
  background-color: #181818;
  padding: 0px 8.5rem;
  text-align: center;
  line-height: 60px;
}

footer .foo-b .container .links {
  display: inline-block;
}

footer .foo-b .container .links a {
  text-decoration: none;
  display: inline-block;
  margin: 0 20px;
  color: #6c757d;
}

footer .foo-b .container .links a:hover {
  color: #c4c0c0;
}

.overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}

.active {
  display: block;
}

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #111;
}

.modal .modal-register.center {
  top: 15%;
}

.modal .modal-login,
.modal .modal-register {
  display: none;
  -webkit-animation: fadeIn linear 0.3s;
          animation: fadeIn linear 0.3s;
  width: 420px;
  padding: 1.5rem;
  top: 25%;
  position: fixed;
  border-radius: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
          box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  background-color: #fff;
  z-index: 3;
}

.modal .modal-login .close-modal,
.modal .modal-register .close-modal {
  position: absolute;
  top: 0rem;
  right: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: #7e7979;
  cursor: pointer;
}

.modal .modal-login .close-modal:hover,
.modal .modal-register .close-modal:hover {
  color: #111;
}

.modal .modal-login span,
.modal .modal-register span {
  display: block;
  color: #8d8383;
  margin-bottom: 1rem;
}

.modal .modal-login h2,
.modal .modal-register h2 {
  margin-bottom: 2rem;
}

.modal .modal-login .login-field,
.modal .modal-login .res-field,
.modal .modal-register .login-field,
.modal .modal-register .res-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal .modal-login .login-field label,
.modal .modal-login .res-field label,
.modal .modal-register .login-field label,
.modal .modal-register .res-field label {
  margin-bottom: 10px;
}

.modal .modal-login .login-field input,
.modal .modal-login .res-field input,
.modal .modal-register .login-field input,
.modal .modal-register .res-field input {
  width: 100%;
  height: 100%;
  border-radius: 0.3rem;
  padding: 0.6rem;
  padding-left: 20px;
  padding-right: 20px;
  border: 0.2px solid #6c757d;
  outline: 0;
  background-color: #fff;
  background-position: -1px 0;
  color: black;
  font-weight: 300;
  margin-bottom: 1rem;
}

.modal .modal-login .login-field input:focus,
.modal .modal-login .res-field input:focus,
.modal .modal-register .login-field input:focus,
.modal .modal-register .res-field input:focus {
  border: 0.2px solid #2392a3;
}

.modal .modal-login button,
.modal .modal-register button {
  width: 100%;
  border: none;
  outline: none;
  padding: 0.75rem 1.5rem;
  background-color: #17a2b8;
  border-radius: 0.3rem;
  margin-top: 10px;
  cursor: pointer;
  color: #fff;
}

.modal .modal-login button:hover,
.modal .modal-register button:hover {
  background-color: #2392a3;
}

.modal .modal-login p,
.modal .modal-register p {
  margin-top: 2rem;
  text-align: center;
}

.modal .modal-login p a,
.modal .modal-register p a {
  text-decoration: none;
  color: #17a2b8;
  margin-left: 5px;
  cursor: pointer;
}

.modal .show {
  display: block;
}

@-webkit-keyframes fadeIn {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 25%;
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 25%;
    opacity: 1;
  }
}

@media screen and (max-width: 1300px) {
  header {
    padding: 0.8rem 1rem;
  }
  .container-body .home-container .bl {
    padding: 0.8rem 1rem;
  }
  .container-body .home-container .bl .content .filmlist .item {
    float: left;
    display: block;
    width: 24%;
    margin: 0 0.4%;
    position: relative;
  }
}

@media screen and (max-width: 1100px) {
  header {
    padding: 0.8rem 2rem;
  }
  footer .foo-t {
    padding: 0.8rem 2rem;
  }
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
  header {
    background-color: #0f6674;
  }
  header .menu-toggle {
    display: inline-block;
    float: left;
    left: 0;
    margin-right: 15px;
    font-size: 2em;
    opacity: 0.8;
    color: #fff;
  }
  header .menu-toggle .fa {
    font-weight: 900;
  }
  header .head_l {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 35px;
  }
  header .head_l .menu {
    display: none;
  }
  header .head_r .head_r-auth .fa-user {
    display: block;
    font-size: 25px;
  }
  header .head_r .head_r-auth .img-auth {
    display: none;
  }
  header .head_r .head_r-auth p {
    display: none;
  }
  .search-mobile {
    display: block;
    padding: 10px 0;
    background-color: #0f6674;
  }
  .search-mobile form {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90%;
    position: relative;
  }
  .search-mobile form .input-search {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding: 10px 50px;
    border: none;
    outline: none;
    border-radius: 5px;
  }
  .search-mobile form .input-search::-webkit-input-placeholder {
    opacity: 0.6;
  }
  .search-mobile form .input-search:-ms-input-placeholder {
    opacity: 0.6;
  }
  .search-mobile form .input-search::-ms-input-placeholder {
    opacity: 0.6;
  }
  .search-mobile form .input-search::placeholder {
    opacity: 0.6;
  }
  .search-mobile form button {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
  }
  .container-body .home-container .heading-search {
    display: none;
  }
  .container-body .home-container .content-title .text-center p .d-none {
    display: none;
  }
  .container-body .home-container .bl {
    padding: 0.8rem 2rem;
  }
  .container-body .home-container .bl .simple a i {
    margin-left: 10px;
  }
  .container-body .home-container .bl .content .filmlist .item {
    float: left;
    display: block;
    width: 24.2%;
    margin: 0 0.4%;
    position: relative;
  }
  footer .foo-t {
    padding: 0.8rem 1rem;
  }
  footer .foo-t .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .foo-t .container .links {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
  }
  footer .foo-t .container .about {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  footer .foo-b {
    padding: 0;
    text-align: center;
  }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  header .head_l {
    width: 100%;
    text-align: center;
  }
  header .head_l .head_l-logo {
    width: 100%;
  }
  header .head_l .head_l-logo a {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 12px;
  }
  header .head_l .menu {
    display: none;
  }
  header .head_r .head_r-auth .fa-user {
    font-size: 20px;
  }
  header .head_r .head_r-auth .img-auth {
    display: none;
  }
  header .head_r .head_r-auth p {
    display: none;
  }
  .modal .modal-login {
    width: 100%;
    top: 20%;
  }
  .modal .modal-register {
    width: 100%;
  }
  .modal .modal-register.center {
    top: 3%;
  }
  .container-body .home-container .heading-search {
    display: none;
  }
  .container-body .home-container .bl {
    padding: 0.5rem 0.5rem;
  }
  .container-body .home-container .bl .heading {
    margin-bottom: 20px;
  }
  .container-body .home-container .bl .tabs {
    position: absolute;
    left: -6px;
    margin-top: 30px;
  }
  .container-body .home-container .bl .content .filmlist .item {
    width: 49.2%;
  }
}
/*# sourceMappingURL=App.css.map */